body {
    background-color: #FBFAFF !important;
}

.navb {
	top: 0;
	background-color: #1B2A41;
	width: 100%;
	padding: 15px;
	padding-left: 7%;
	padding-right: 7%;
	z-index: 9999;
    height: 130%;
    position: sticky;
    top: 0;
}

.navb form {
	margin-left: auto;
}

.nav-item {
	border-radius: 20px;
	margin-right: 3px;
}

.nav-link {
    background-color: #324A5F !important; 
    border-radius: 100px !important; 
    color: #FBFAFF !important;
    margin-right: 7px;
}

#activepill {
    background-color: #FBFAFF !important; 
    border-radius: 100px !important; 
    color: #2E414B !important;
}


input, select {
    width: 70%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.logo {
    display: block;
    margin: auto;
    width: 40px;
    margin-right: 30px;
}

#img img {
    display: block;
    margin: auto;
    padding-top: 10px;
    width: 65% !important;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    align-items: right;
}

.hero {
  background-image: url('school1.png');
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #FBFAFF;
  height: 450px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  max-height: 700px;
  margin-bottom: 50px;
}

.hero-content {
  text-align: left;
  background-color: transparent !important;
}

.container {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    color: #1B2A41 !important;
}

#about p {
    text-align: left;
    color: #1B2A41 !important;
    margin-top: 40px;
    font-size: 110%;

}

.col-sm-12 {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    background-color: #FBFAFF !important;
    color: #2E414B !important;
}

