body {
    background-color: #FBFAFF !important;
}

.navb {
	top: 0;
	background-color: #1B2A41;
	width: 100%;
	padding: 15px;
	padding-left: 7%;
	padding-right: 7%;
	z-index: 9999;
    height: 130%;
    position: sticky;
    top: 0;
}

.navb form {
	margin-left: auto;
}

.nav-item {
	border-radius: 20px;
	margin-right: 3px;
}

.nav-link {
    background-color: #324A5F !important; 
    border-radius: 100px !important; 
    color: #FBFAFF !important;
    margin-right: 7px;
}

#activepill {
    background-color: #FBFAFF !important; 
    border-radius: 100px !important; 
    color: #2E414B !important;
}


input, select {
    width: 70%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.logo {
    display: block;
    margin: auto;
    width: 40px;
    margin-right: 30px;
}

.hero {
  background-color: #324A5F;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #FBFAFF;
  height: 300px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  max-height: 300px;
  margin-bottom: 30px;
}

.hero-content {
  text-align: left;
  background-color: transparent !important;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 50px;
    padding-bottom: 10px !important;
}

h3, .output h5 {
    text-align: left;
    color: #1B2A41 !important;
}

.output {
    width: 100%;
    background: #dadee7;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(143, 170, 197, 0.6);
    border: 2px solid #8faac5;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #1B2A41;

}

.btn {
    background-color: #FBFAFF !important;
    color: #2E414B !important;
}

